<h1>Seja bem vindo ao curso de Angular!</h1>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <img class="img-fluid" src="../assets/Img/logo_horacio.png" />
      </div>
      <!--Fim do car body-->
    </div>
    <!--fim do card-->
  </div>
  <!--fim do col-->

  <div class="col">
    <div class="card">
      <div class="card-body">
        <img class="img-fluid" src="../assets/Img/crud.png" />
      </div>
      <!--fim do card body-->
    </div>
    <!--fim do card-->
  </div>
  <!--fim do col-->
</div>
<!--fim do row-->

